node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env
package-lock.json
coverage
lib
.eslintcache
.DS_Store

# IDE Settings
.idea/
.vscode/bookmarks.json

# We are aiming for zero-installs:
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

github-orgs.local.yml
product-owners.local.yml
